body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #faf4ed;
}

header {
  margin-top: 3em;
  text-align: center;
  color: black;
}

header h1 {
  font-size: 2em;
  font-weight: 900;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
}

.main-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#container3D canvas {
  width: 60vw !important;
  height: 60vh !important;
}
